* {

    padding: 0;
    margin: 0;
}
body {

    background-color: black;
}

img {

width: 80px;
display: flex;
position: absolute;
left: 100px;
top: 0px;
margin: 5px;
padding: 10px;



}

header {
    text-align: center;
    color: #fff;
    padding: 20px;

}

.Imagem2 {

    display: flex;
    position: absolute;
    left: 100px;
    top: 600px;


}

.Imagem3 {

    display: flex;
    position: absolute;
    left: 1100px;
    top: 600px;

    }
.Imagem4 {

    display: flex;
    position: absolute;
    left: 1100px;
    top: 0px;

    }
.Imagem5 {

    display: flex;
    position: absolute;
    left: 600px;
    top: 300px;
    border-radius: 50px ;

    }







